{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },
  "extends": [
      "plugin:react/recommended",
      "airbnb",
      "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2021,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "@typescript-eslint",
      "react-hooks"
  ],
  "rules": {
      "semi": ["error", "always"],
      "@typescript-eslint/no-var-requires": 0,
      "import/extensions": [
          "error",
          "ignorePackages",
          {
            "ts": "never",
            "tsx": "never"
          }
        ],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
      "import/prefer-default-export": "off",
      "camelcase": "off",
      "@typescript-eslint/ban-types": "off",
      "no-use-before-define": "off",
      "linebreak-style": "off",
      "no-console": "off",
      "react/prop-types": [2, { "ignore": ["children"] }],
      "react/react-in-jsx-scope": "off",
      "react/jsx-props-no-spreading": "off",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": ["**/*.stories.tsx", "**/*.test.*"]
        }
      ]
  },
  "settings": {
      "import/resolver": {
          "node": {
              "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
      }
  } 
}